<article class="content">
  <h2>FAQ</h2>
  <h5>Are there specific requirements for private trainings</h5>
  <p class="answer">
    Please review the specific course requirements above, as they apply to private trainings. In addition, the following are required:
    <ol>
    <li>A disruption-free room to hold the number of students (18 max) for the
    duration of the class.</li>
    <li>Wi-Fi/internet connection to the same network available to trainer and
    students.</li>
    <li>Laptop or desktop computer for each student. Detailed requirements for
    the student computers are listed above.</li>
    <li>Projector & screen capable of connecting to the instructor’s computer.</li>
    <li>Whiteboard or large notepad for trainer to draw diagrams.</li>   
  </ol></p>

  <h5>How can I get a proof of completion for a private training?</h5>
  <p class="answer">
    Please ensure that all of your trainees are registered via the registration
    page sent to you by your Puppet Professional Services Coordinator. This is required to track attendance and issue certificates of
    completion. Unregistered students will not be able to claim their certificate of completion for the course.
  </p>
  
  <h5>Where can I find tutorials on using the Git server?</h5>
  <p class="answer">
    For the <strong>Practitioner</strong> course, we run a self-hosted Git server called <a href="https://gitea.io">Gitea</a>. While it does not have very extensive
    end-user documentation, the experience is very close to that of GitHub. We suggest that if you want to practice
    your Git skills before class that you sign up for a <a href="https://github.com">GitHub account</a> and then try
    out <a href="https://guides.github.com/activities/hello-world/">this tutorial</a>. The <strong>Getting Started with Puppet</strong> course uses GitLab. We strongly recommend students complete the <a href="https://docs.gitlab.com/ee/gitlab-basics/"> GitLab tutorial </a> before class begins.
  </p>

  <h5>Do I need to install a PDF reader?</h5>
  <p class="answer">
    Probably not. Most modern browsers have a PDF reader built-in or use a platform standard reader. If that is not the
    case for you, then readers such as <a href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader.html">Adobe Acrobat
      Reader</a> can be used free of charge.
  </p>

  <h5>How can I correct issues with the video conferencing (Zoom.us) system?</h5>
  <p class="answer">Check the <a href="https://support.zoom.us/hc/en-us/articles/201362683-Network-Firewall-or-Proxy-Server-Settings-for-Zoom">Zoom.us network requirements</a>. Their support portal might also have other suggestions.</p>

  <h5>How do I accept a self-signed certificate?</h5>
  <p class="answer">
      You can find official instructions in the <a href="https://puppet.com/docs/pe/latest/accessing_console/console_accessing.html#accepting-the-console-certificate">Puppet
      Enterprise documentation</a>.
  </p>

  <h5>What if I can't accept a self-signed certificate?</h5>
  <p class="answer">If you are taking Getting Started with Puppet, this does not apply to you. If you are taking Practitioner, please let us know in the feedback form at the end of the tests. We may be able to help you.</p>

</article>
