<article class="content">
  <h2>FAQ</h2>
  <h5>Where can I find instructions for using the classroom tools? (PF, PP)</h5>
  <p class="answer">
    We use a tool that allows each student to perform classroom exercises by writing code in a graphical editor and
    enforcing it on a virtualized agent node. Read the <a href="classroom_tutorial.html">tutorial</a>.
  </p>

  <h5>Where can I find tutorials on using the Git server? (GSWP, PF, PP)</h5>
  <p class="answer">
    We run a self-hosted Git server in the classroom. Depending on the class, you will use either <a href="https://gitea.io">Gitea</a> or <a href="https://about.gitlab.com/">GitLab</a>.
    In both cases, the experience is very close to that of GitHub. We suggest that if you want to practice
    your Git skills before class that you sign up for a <a href="https://github.com">GitHub account</a> and then try
    out <a href="https://guides.github.com/activities/hello-world/">this tutorial</a>.
  </p>

  <h5>Do I need to install a PDF reader? (GSWP, PF, PP)</h5>
  <p class="answer">
    Probably not. Most modern browsers have a PDF reader built-in or use a platform standard reader. If that is not the
    case for you, then readers such as <a href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader.html">Adobe Acrobat
      Reader</a> can be used free of charge.
  </p>

  <h5>How can I correct issues with the video conferencing (Zoom.us) system? (GSWP, PF, PP)</h5>
  <p class="answer">Check the <a href="https://support.zoom.us/hc/en-us/articles/201362683-Network-Firewall-or-Proxy-Server-Settings-for-Zoom">Zoom.us network requirements</a>. Their support portal might also have other suggestions.</p>

  <h5>How do I accept a self-signed certificate? (PF, PP)</h5>
  <p class="answer">
      You can find official instructions in the <a href="https://puppet.com/docs/pe/latest/accessing_console/console_accessing.html#accepting-the-console-certificate">Puppet
      Enterprise documentation</a>.
  </p>

  <h5>What if I can't accept a self-signed certificate? (PF, PP)</h5>
  <p class="answer">Please let us know in the feedback form at the end of the tests. We may be able to help you.</p>

</article>
