  <article class="content">
    <h2>Classroom requirements</h2>
    <ul>
      <li>For all classes, students must have a computer with a modern browser: current versions of Firefox, Chrome, Edge, or Safari. For Internet Explorer, we only support version 11.</li>
      <li>For virtual classes, you need to be able to connect to Zoom.us. You must check that you meet Zoom's <a href="https://support.zoom.us/hc/en-us/articles/201362683-Network-Firewall-or-Proxy-Server-Settings-for-Zoom">requirements</a> before the start of your class.</li>
      <li>For virtual classes, you need a webcam, microphone, and computer audio.</li>
    </ul> 
    <p></p>
    <h2>Technical requirements</h2>
    You will need to connect to the following destination ports for any Puppet class. You may need to ask your network administrator to add rules allowing access.
    <ul>
      <li>Puppet Enterprise Console and other services: HTTPS on port 443</li>
      <li>Linux login: SSH on port 22</li>
      <li>Windows Remote Desktop: RDP on port 3389</li>
    </ul>
       </article>
