/*
 * Web fonts
 */
@font-face {
  font-family: 'Calibre Web Regular';
  src: local('Calibre Web Regular'), local('CalibreWeb-Regular'),
  url(../fonts/CalibreWeb-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Semibold';
  src: local('Calibre Web Semibold'), local('CalibreWeb-Semibold'),
  url(../fonts/CalibreWeb-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Calibre Web Medium';
  src: local('Calibre Web Medium'), local('CalibreWeb-Medium'),
  url(../fonts/CalibreWeb-Medium.woff) format('woff');
}


/*
 * Puppet header - Main containers
 */
.global-header {
  position: relative;
  left: 0;
  width: 100%;
  z-index: 800;
  transition: background-color linear 0.2s;
  font-family: "Calibre Web Regular", Helvetica, Tahoma, Arial, sans-serif;
}
.global-header__row {
  position: relative;
}

/*
 * Puppet header - Row 1 "satellite nav"
 */
.global-header__nav-satellite__item .spacer {
  margin: 0 12px;
}
.global-header__row.__row1 {
  background: #222222;
  display: table;
  width: 100%;
  height: 46px;
  font-size: 100%;
}
.global-header__row.__row1 .global-header__nav-satellite {
  border-bottom: 1px solid #303030;
  background: #222222;
  display: table-cell;
  vertical-align: middle;
  overflow: auto;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.global-header__row.__row1 .global-header__nav-satellite:first-child {
  width: 220px;
}
.global-header__row.__row1 .global-header__nav-satellite__item {
  float: left;
  padding: 0 10px;
  margin-left: 10px;
}
.global-header__row.__row1 .global-header__nav-satellite__item:hover {
  transition: color 0.2s linear;
}
.global-header__row.__row1 .global-header__nav-satellite__item:first-child {
  margin-left: 14px;
}
.global-header__row.__row1 .global-header__nav-satellite__item a {
  position: relative;
  font-size: 0.92rem;
  text-decoration: none;
  color: white;
  transition: color 0.2s linear;
}
.global-header__row.__row1 .global-header__nav-satellite__item a:hover,
.global-header__row.__row1 .global-header__nav-satellite__item a:active {
  color: white !important;
  transition: color 0.2s linear;
}
.global-header__row.__row1 .global-header__nav-satellite__item a.home {
  color: #ffad1a;
}
.global-header__row.__row1 .global-header__nav-satellite__item a.offsite {
  color: rgba(219, 218, 218, 0.5);
}


/*
 * Puppet header - Row 2 Main navigation
 */
.global-header__row.__row2 {
  background: #222222;
  transition: background-color linear 0.2s;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  font-size: 120%;
}
.global-header.transparent .global-header__row.__row2 {
  background-color: rgba(0, 0, 0, 0.6);
}
.global-header__row.__row2 .global-header__row__col {
  display: table-cell;
  vertical-align: middle;
}
.global-header__row.__row2 .global-header__row__col.__col1 {
  width: 220px;
  padding-left: 37px;
  padding-top: 22px;
  text-align: left;
  vertical-align: top;
  transition: padding-top 0.2s linear;
}
.global-header__row.__row2 .global-header__row__col.__col1 img {
  width: auto;
  height: 46px;
}
.global-header__row.__row2 .global-header__nav-main {
  width: 100%;
  float: left;
  height: 88px;
  padding-bottom: 12px;
  transition: padding-bottom linear 0.2s;
}
.global-header__row.__row2 .global-header__nav-main__item {
  position: relative;
  float: left;
  display: table;
  margin: 34px 17px 0 17px;
}
.global-header__row.__row2 .global-header__nav-main__item:last-child {
  padding-right: 20px;
}


/*
 * Puppet header - Top level nav item
 */
.global-header__row.__row2 .global-header__nav-main__item a.dropdown__tab,
.global-header__row.__row2 .global-header__nav-main__item a {
  display: table-cell;
  vertical-align: bottom;
  border-bottom: 4px solid transparent;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s linear;
}
.global-header__row.__row2 .dropdown:hover a.dropdown__tab:not(.search-a):not(.hamburger-a),
.global-header__row.__row2 .dropdown:hover a:not(.search-a):not(.hamburger-a)  {
  color: #ffad1a !important;
  transition:
      color 0.2s linear;
}
.global-header__row.__row2 .dropdown a.dropdown__tab:not(.search-a):not(.hamburger-a).open {
  background-color: #323232;
  transition:
      background-color 0.2s linear;
}
.global-header__row.__row2 .dropdown a.dropdown__tab:not(.search-a):not(.hamburger-a).open .dropdown__tab__indicator {
  height: 5px !important;
  transition: height 0.2s linear;
}
.global-header__row.__row2 .global-header__nav-main__item a.dropdown__tab .dropdown__tab__title,
.global-header__row.__row2 .global-header__nav-main__item a .dropdown__tab__title {
  padding: 7px 6px;
  font-family: "Calibre Web Medium", Helvetica, Tahoma, Arial, sans-serif;
  transition:
      color 0.2s linear,
      background-color 0.2s linear;
}
.global-header__row.__row2 .global-header__nav-main__item a.dropdown__tab .dropdown__tab__indicator,
.global-header__row.__row2 .global-header__nav-main__item a .dropdown__tab__indicator  {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffad1a;
  transition: height 0.2s linear;
}


/*
 * Puppet header - Search and "search slider"
 */
body.search-open .global-header__row.__row2 .global-header__nav-main__item a.dropdown__tab {
  opacity: 0;
}
body.search-open .global-header__row.__row2 .global-header__nav-main__item.search a.dropdown__tab,
body.search-open .global-header__row.__row2 .global-header__nav-main__item.hamburger a.dropdown__tab {
  opacity: 1;
}
body.search-open .global-header__row.__row2 .global-header__nav-main .search a .search-amber {
  display: block;
}
body.search-open .global-header__row.__row2 .global-header__nav-main .search a .search-white {
  display: none;
}
.global-header__row.__row2 .global-header__nav-main .search {
  float: right;
  margin-right: 37px;
}
.global-header__row.__row2 .global-header__nav-main .search a {
  padding-top: 6px;
}
.global-header__row.__row2 .global-header__nav-main .search a img {
  position: relative;
  display: block;
  height: 20px;
  width: auto;
  z-index: 1;
}
.global-header__row.__row2 .global-header__nav-main .search a .search-amber {
  display: none;
}
.global-header__row.__row2 .global-header__nav-main .search .search-slider {
  position: absolute;
  z-index: 0;
  top: -6px;
  right: -8px;
  width: 0;
  display: none;
}
.global-header__row.__row2 .global-header__nav-main .search .search-slider .search-slider-table {
  display: table;
  width: 100%;
}
.global-header__row.__row2 .global-header__nav-main .search .search-slider .search-slider-table__cell {
  display: table-cell;
  width: 100%;
  vertical-align: bottom;
}
.global-header__row.__row2 .global-header__nav-main .search .search-slider .search-slider-table__cell input {
  width: 100%;
  padding: 12px 40px 12px 10px;
  color: white;
  border: 1px solid #3a3a3a;
  background-color: #222222;
  outline: none;
}


/*
 * Sticky header styles - Works in tandem with jQuery.sticky
 */
body.global-header-row-2-fixed .global-header__row.__row2 .global-header__row__col.__col1 {
  padding-top: 22px;
  transition: padding-top 0.2s linear;
}
body.global-header-row-2-fixed .global-header__row.__row2 {
  background: #222222;
  transition: background-color linear 0.2s;
}
body.global-header-row-2-fixed .global-header__row.__row2 .global-header__nav-main {
  padding-bottom: 12px;
  transition: padding-bottom linear 0.2s;
}


/*
 * Puppet header - Mobile menu hamburger
 */
.global-header__row.__row2 .global-header__nav-main .hamburger {
  display: none;
  float: right;
  margin: 24px 20px 0 20px;
}
.global-header__row.__row2 .global-header__nav-main .hamburger a img {
  height: 40px;
  width: auto;
}
.global-header__row.__row2 .global-header__nav-main .hamburger a .menu-amber {
  display: none;
}
.global-header__row.__row2 .global-header__nav-main .hamburger a:hover .menu-amber {
  display: block;
}
.global-header__row.__row2 .global-header__nav-main .hamburger a:hover .menu-white {
  display: none;
}
body.mobile-menu-open .global-header__row.__row2 .global-header__nav-main .hamburger .menu-amber {
  display: block;
}
body.mobile-menu-open .global-header__row.__row2 .global-header__nav-main .hamburger .menu-white {
  display: none;
}


/*
 * Puppet header - Mobile menu
 */
body {
  left: 0;
}
body.mobile-menu-open {
  position: fixed;
  left: -300px;
  transition: left 0.2s linear;
}
body.mobile-menu-open .global-header__mobile-menu-cover {
  opacity: 1;
  display: block;
}
body.mobile-menu-open .global-header__mobile-menu {
  right: 0;
  transition: right 0.2s linear;
}
body.mobile-menu-open .global-header__row.__row2 .global-header__nav-main .search {
  display: none;
}
.global-header__mobile-menu {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 999;
  overflow: hidden;
  background-color: #222222;
  cursor: default;
}
.global-header__mobile-menu .global-header__nav-main-mobile {
  height: 100%;
  overflow: auto;
}
.global-header__mobile-menu .global-header__nav-main-mobile .global-header__nav-main__item > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.global-header__mobile-menu .global-header__nav-main-mobile .global-header__nav-main__item > a::selection {
  background: #222222 !important;
}
.global-header__mobile-menu .global-header__nav-main-mobile .global-header__nav-main__item > a::-moz-selection {
  background: #222222 !important;
}
.global-header__mobile-menu .global-header__nav-main-mobile .mobile-sub-menu {
  padding: 0 20px;
}
.global-header__mobile-menu .global-header__nav-main-mobile .mobile-sub-menu__item + .mobile-sub-menu__item {
  border-top: 1px solid rgba(219, 218, 218, 0.3);
}
.global-header__mobile-menu .global-header__nav-main-mobile .mobile-sub-menu__item > a {
  display: block;
  width: 100%;
  height: 100%;
  border-left: 3px solid #ffad1a;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: color linear 0.2s, border-left linear 0.2s;
}
.global-header__mobile-menu .global-header__nav-main-mobile .mobile-sub-menu__item > a:hover {
  color: #59a1f7;
  border-left: 3px solid #59a1f7;
  transition: color linear 0.2s, border-left linear 0.2s;
}
.global-header__mobile-menu .global-header__nav-main-mobile .mobile-sub-menu__item > a::selection {
  background: #222222 !important;
}
.global-header__mobile-menu .global-header__nav-main-mobile .mobile-sub-menu__item > a::-moz-selection {
  background: #222222 !important;
}
.global-header__mobile-menu .mobile-menu-close-button {
  display: none;
  border: 1px solid rgba(219, 218, 218, 0.3);
  position: absolute;
  right: 0;
  width: 20px;
  color: rgba(219, 218, 218, 0.3);
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  transition: color linear 0.2s, border-left linear 0.2s;
}
.global-header__mobile-menu .mobile-menu-close-button:hover {
  color: #59a1f7;
  border: 1px solid #59a1f7;
  background-color: #222222;
  transition: color linear 0.2s, border-left linear 0.2s;
}
.global-header__mobile-menu .mobile-search {
  position: relative;
  width: 280px;
}
.global-header__mobile-menu .mobile-search .mobile-search__input {
  width: 100%;
  padding: 8px 10px;
  color: white;
  border: 1px solid rgba(219, 218, 218, 0.3);
  border-radius: 0;
  background-color: rgba(34, 34, 34, 0.9);
}
.global-header__mobile-menu .mobile-search img {
  position: absolute;
  right: 26px;
  top: 6px;
  height: 20px;
  cursor: pointer;
  display: block;
}
.global-header__mobile-menu-cover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 799;
  display: none;
  background-color: rgba(34, 34, 34, 0.2);
}


/*
 * Puppet header - Dropdown menus
 */
.global-header__row.__row2 .dropdown .dropdown-menu {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: -9999;
  background-color: #222222;
  opacity: 0;
  transition: opacity 0.2s linear;
  min-width: 340px;
}
.global-header__row.__row2 .dropdown .dropdown-menu.open {
  top: 100%;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.2s linear;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-grow-bar {
  position: absolute;
  top: -1px;
  width: 0;
  height: 1px;
  background-color: #ffad1a;
  transition: width 600ms ease-out;
}
.global-header__row.__row2 .dropdown .dropdown-menu.open .dropdown-grow-bar {
  width: 100%;
  transition: width 600ms ease-out;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-sub-menu__item > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 340px;
  padding: 12px 30px 12px 20px;
  text-decoration: none;
  transition: background-color 0.2s linear;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-sub-menu__item + .dropdown-sub-menu__item {
  border-top: 1px solid #323232;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-sub-menu__item > a:hover {
  background-color: #323232;
  transition: background-color 0.2s linear;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-sub-menu__item .link-title {
  color: #ffad1a;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-sub-menu__item .link-blurb {
  margin-top: -3px;
  font-size: 0.9rem;
  color: rgba(219, 218, 218, 0.5);
  transition: color 0.2s linear;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-sub-menu__item:hover {
  color: white;
  background-color: #323232;
  transition: background-color 0.2s linear;
}
.global-header__row.__row2 .dropdown .dropdown-menu .dropdown-sub-menu__item:hover .link-blurb {
  color: white;
  transition: color 0.2s linear;
}


/*
 * Puppet header - Responsive bits
 */
@media only screen and (max-width: 1020px) {
  .global-header__row.__row1 .global-header__nav-satellite {
    padding-left: 11px;
  }
  .global-header__row.__row1 .global-header__nav-satellite:first-child {
    display: none;
  }
  body.global-header-row-2-fixed .global-header__row.__row2 .global-header__nav-main {
    padding-bottom: 15px;
  }
  .global-header__row.__row2 .global-header__nav-main__item.dropdown {
    display: none;
  }
  .global-header__row.__row2 .global-header__nav-main .search {
    display: none;
  }
  .global-header__row.__row2 .global-header__nav-main .hamburger {
    display: table;
  }
}
@media only screen and (max-width: 840px) {
  .global-header__row.__row1 {
    display: none;
  }
  .global-header__row.__row2 .global-header__nav-main {
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 600px) {
  body.mobile-menu-open .global-header__row.__row2 .global-header__row__col.__col1 img {
    opacity: 0.15;
  }
}
@media only screen and (max-width: 540px) {
  .global-header__row.__row2 .global-header__nav-main .search {
    display: none;
  }
}
